#!/usr/bin/env bash
set -eufo pipefail

{{ $brews := list
"bat"
"chezmoi"
"eza"
"fd"
"fzf"
"jq"
"lazygit"
"lazydocker"
"markdown-toc"
"markdownlint-cli2"
"node"
"oh-my-posh"
"prettier"
"poppler"
"tree-sitter"
"yazi"
"yq" -}}
{{ $casks := list -}}

{{ $packages := list
"cmake"
"gnome-tweaks"
"keychain"
"luarocks"
"ripgrep"
"tmux" -}}

{{ $snaps := list
"discord"
"bw" -}}
{{ $classicSnaps := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ $sudo = "" -}}
{{ end -}}

{{ $sudo }} apt-get update
{{ $sudo }} apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{ range $snaps }}
(snap info {{ . }} | grep -q ^installed:) || {{ $sudo }} snap install {{ . }}
{{ end }}
{{ range $classicSnaps }}
(snap info {{ . }} | grep -q ^installed:) || {{ $sudo }} snap install --classic {{ . }}
{{ end }}
{{ end }}

/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
