# Base
typeset -U path
path=(~/bin ~/.local/bin ~/.cargo/bin $path)

export EDITOR="vim"
export VISUAL="vim"
export LESS="-R"

# set XDG_CONFIG_HOME
if [ -z $XDG_CONFIG_HOME ]; then
  export XDG_CONFIG_HOME=$HOME/.config
fi

if [ -z $XDG_CACHE_HOME ]; then
  export XDG_CACHE_HOME="$HOME/.cache"
fi

if [ -z $XDG_DATA_HOME ]; then
  export XDG_DATA_HOME="$HOME/.local/share"
fi

skip_global_compinit=1

# vim: ft=zsh
